# Build output
/dist/
/out/
/core/

# Generated webroot
/page/dist/

# Dependencies
node_modules/

# Test coverage
/coverage/

# ESLint cache
.eslintcache

# OS-specific files
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# Temporary files used by the editor
*.swp
*.swo
