    <h1><%= name %> <%= version %> Tests</h1>
    <h2>Directory (without trailing slash)</h2>
    <iframe src="/testdir"></iframe>
    <h2>Directory (with query)</h2>
    <iframe src="/testdir/?query=value"></iframe>
    <h2>Directory (personalized)</h2>
    <iframe src="/testdir/.personalized"></iframe>
    <h2>404 Error</h2>
    <iframe src="/tfhgfhggf"></iframe>
    <h2>Server Side JavaScript</h2>
    <iframe src="/hello.svr"></iframe>
    <h2>Proxy test</h2>
    <iframe src="/proxy.svr/this/hello.svr"></iframe>
    <h2>URL rewriting test (/testdir_rewritten => /testdir)</h2>
    <iframe src="/testdir_rewritten"></iframe>
    <br/>
    <br/>
    <img src="/powered.png" />
